/*Stylesheet des pages filles de l'index*/
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    color:blanchedalmond
}

.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo_haut img{
    width:45%;
}

.separator{
    width:90%;
    border: 1px solid;
    color:blanchedalmond
}

/*Section dédiée à la page hotline*/

.liste_hotlines{
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hotline{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.but h2{
    color:blanchedalmond;

}